  
  h1{color:red}
            /*{border:solid}*/
.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
   /* align-items: baseline;*/
}    

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
}

.footer{
    display: flex;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;
}

/*.menu{
    display: flex;
    justify-content: flex-end;
}*/